#vector-map svg .dxm-background {
  stroke: transparent !important;
}

.widget-map #vector-map svg path {
  fill: #DDE4EF !important;
  stroke-width: 0.2px;
}

.dxm-tooltip svg path {
  fill: var(--color-dark) !important;
  stroke-width: 0;
}

.dxm-tooltip div {
  color: #fff !important;
  font-family: inherit !important;
}

.dark #vector-map svg .dxm-background {
  fill: transparent !important;
}

.dark #vector-map svg path {
  stroke-width: 0;
}